<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>  Home Page</h1>
<div>
    {% if username %}
    <h1>You are logged in as {{username}}</h1>
    <h1>Login Status: {{login_status}}</h1>
    {% else %}
    <h1>You are NOT logged in</h1>

    {% endif %}
    <h1>Home</h1>

</div>
</body>
</html>